<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weirdCSS Framework</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="/static/css/weirdcss.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <div class="logo">weirdCSS</div>
        <nav>
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">GitHub</a></li>
          </ul>
        </nav>
      </header>
      <header class="page-header">
        <h1>A dead simple <span class="gradient-text">CSS Framework</span></h1>
        <p class="subtitle">Created by a lazy developer who doesn't want to learn hard frameworks</p>
      </header>
      <main>
        <div class="card">
          <h2>Where should I begin learning this?</h2>
          <p>It's easy! You can check out the lessons right <a href="#"><b>here</b></a>, or just head over to the Learn section in the menu.</p>
        </div>
        <div class="card">
          <h2>Why was this created?</h2>
          <p>I was looking to create a simple landing page for myself, but I didn't want to dive into complex CSS frameworks at the time. So, I decided to build my own. By applying some basic styles to headers and other elements, you can instantly make your site look appealing without breaking a sweat. </p>
          <p>The main idea behind this project is to make life easier for folks who want to create something simple yet eye-catching, but don't have the time or inclination to wrestle with the intricacies of web development. </p>
          <p><b>Keep in mind that this project is still a work in progress. I'll be adding new features and polishing things up to make it production-ready in the near future. Stay tuned!</b></p>
        </div>
      </main>
    </div>
  </body>
</html>
