<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weirdCSS Фреймворк</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="/static/css/weirdcss.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <div class="logo">weirdCSS</div>
        <nav>
          <ul>
            <li><a href="#">Обучение</a></li>
            <li><a href="#">GitHub</a></li>
          </ul>
        </nav>
      </header>
      <header class="page-header">
        <h1>Очень простой <span class="gradient-text">CSS-фреймворк</span></h1>
        <p class="subtitle">Создан ленивым разработчиком, который не хочет изучать сложные фреймворки</p>
      </header>
      <main>
        <div class="card">
          <h2>С чего мне следует начать изучение?</h2>
          <p>Это просто! Вы можете ознакомиться с уроками прямо <a href="#"><b>здесь</b></a> или просто перейти в раздел "Обучение" в меню.</p>
        </div>
        <div class="card">
          <h2>Зачем это было создано?</h2>
          <p>Я хотел создать простую целевую страницу для себя, но в то время не хотел погружаться в сложные CSS-фреймворки. Поэтому я решил создать свой собственный. Применяя некоторые базовые стили к заголовкам и другим элементам, вы можете мгновенно придать своему сайту привлекательный вид, не потрудившись при этом.</p>
          <p>Основная идея этого проекта - облегчить жизнь людям, которые хотят создать что-то простое, но привлекательное, но у которых нет времени или желания разбираться в тонкостях веб-разработки.</p>
          <p><b>Имейте в виду, что этот проект все еще находится в стадии разработки. Я буду добавлять новые функции и дорабатывать их, чтобы в ближайшем будущем он был готов к работе. Будьте в курсе!</b></p>
        </div>
      </main>
    </div>
  </body>
</html>
