<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weirdCSS Фреймворк</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/otie173/weirdcss@latest/src/weirdcss.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <style>
        @keyframes blink {
            0% { opacity: 0; }
            50% { opacity: 1; }
            100% { opacity: 0; }
        }
        .cursor {
            display: inline-block;
            width: 2px;
            height: 1.2em;
            background-color: #a0a0a0;
            margin-left: 2px;
            animation: blink 0.7s infinite;
            vertical-align: text-bottom;
            position: relative;
            top: -0.1em;
        }
        .animate-on-scroll {
            opacity: 0;
            transform: translateY(30px);
            transition: opacity 0.8s ease-out, transform 0.8s ease-out;
        }
        .animate-on-scroll.show {
            opacity: 1;
            transform: translateY(0);
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="main-header">
            <div class="logo">weirdCSS</div>
            <nav>
                <ul>
                    <li><a href="https://github.com/otie173/weirdcss/blob/main/docs/ru/%D0%BD%D0%B0%D1%87%D0%B0%D0%BB%D0%BE-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B.md">Обучение</a></li>
                    <li><a href="https://github.com/otie173/weirdcss">GitHub</a></li>
                </ul>
            </nav>
        </header>
        <header class="page-header">
            <h1>Очень простой <span class="gradient-text">CSS-фреймворк</span></h1>
            <p class="subtitle" x-data="typewriter()" x-init="startTyping()">
                <span x-text="displayText"></span><span class="cursor"></span>
            </p>
        </header>
        <div class="buttons-container">
            <a href="https://github.com/otie173/weirdcss/blob/main/docs/ru/%D0%BD%D0%B0%D1%87%D0%B0%D0%BB%D0%BE-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B.md" class="btn btn-primary">Начать</a>
            <a href="https://github.com/otie173/weirdcss/blob/main/docs/ru/%D0%BA%D0%B0%D0%BA-%D1%83%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%82%D1%8C.md" class="btn btn-outline">Установить</a>
        </div>
        <main>
            <div class="feature-cards">
                <div class="feature-card animate-on-scroll">
                    <div class="feature-icon">🎨</div>
                    <h3 class="feature-title">Простой дизайн</h3>
                    <p class="feature-description">Минималистичный и современный дизайн, который легко настроить под свои нужды.</p>
                </div>
                <div class="feature-card animate-on-scroll">
                    <div class="feature-icon">🚀</div>
                    <h3 class="feature-title">Быстрый старт</h3>
                    <p class="feature-description">Запустите свой проект с weirdCSS за считанные минуты, без сложных настроек. Благодаря минималистичному набору стилей, ваш сайт будет загружаться молниеносно.</p>
                </div>
                <div class="feature-card animate-on-scroll">
                    <div class="feature-icon">📱</div>
                    <h3 class="feature-title">Адаптивность</h3>
                    <p class="feature-description">Ваш сайт будет отлично выглядеть на любых устройствах, от смартфонов до десктопов.</p>
                </div>
            </div>
            <div class="card animate-on-scroll">
                <h2>Зачем это было создано?</h2>
                <p>Я хотел создать простую целевую страницу для себя без погружения в сложные CSS-фреймворки, поэтому  представляю вам свой собственный. Применяя некоторые базовые стили к заголовкам и другим элементам, вы можете мгновенно и без труда придать своему сайту привлекательный вид.</p>
                <p>Основная идея этого проекта - облегчить жизнь людям, которые хотят создать что-то простое и привлекательное, но не имеют достаточно времени или желания разбираться в тонкостях веб-разработки.</p>
                <p><b>Имейте в виду, что этот проект все еще находится в стадии разработки. Я буду добавлять новые функции и дорабатывать их, чтобы в ближайшем будущем он был готов к работе. Будьте в курсе!</b></p>
            </div>
        </main>
    </div>

    <script>
        function typewriter() {
            return {
                fullText: 'Создан ленивым разработчиком, который не хочет изучать сложные фреймворки',
                displayText: '',
                startTyping() {
                    this.typeText();
                },
                typeText() {
                    if (this.displayText.length < this.fullText.length) {
                        this.displayText += this.fullText.charAt(this.displayText.length);
                        setTimeout(() => this.typeText(), 50);
                    }
                }
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const animateOnScrollElements = document.querySelectorAll('.animate-on-scroll');

            const observer = new IntersectionObserver((entries) => {
                entries.forEach((entry, index) => {
                    if (entry.isIntersecting) {
                        setTimeout(() => {
                            entry.target.classList.add('show');
                        }, index * 100);
                    }
                });
            }, { threshold: 0.1 });

            animateOnScrollElements.forEach(element => {
                observer.observe(element);
            });
        });
    </script>
</body>
</html>
